body {
    background-color: #252525;
}

.logo {
    height: 70px;
}

.social-button {
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    min-width: 300px !important;
    text-align: center;
    transition: ease-in-out 0.2s;
}